name: Test on PR
on:
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  generate_report:
    runs-on: ubuntu-latest
    timeout-minutes: 20
    steps:
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Set up Python
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: 3.11
      - name: Install uv
        uses: astral-sh/setup-uv@85856786d1ce8acfbcc2f13a5f3fbd6b938f9f41 # v7.1.2
        with:
          enable-cache: true
          cache-dependency-glob: "uv.lock"

      - name: Install dependencies
        run: |
          uv sync --group ci_test

      - name: Download and unpack the database
        run: |
          uv run gdown https://drive.google.com/uc?id=1ZLkYVueEgg2E3Y50KUuBEg_f5YpFejnw
          bzip2 -dk dashboard.db.bz2

      - name: Generate weekly summary
        run: |
          uv run traceback-with-variables napari_dashboard.get_weekly_summary --no-fetch

  generate_webpage:
    runs-on: ubuntu-latest
    timeout-minutes: 20
    permissions:
      contents: 'write'
      id-token: 'write'
    steps:
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Set up Python
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: 3.12
      - name: Install uv
        uses: astral-sh/setup-uv@85856786d1ce8acfbcc2f13a5f3fbd6b938f9f41 # v7.1.2
        with:
          enable-cache: true
          cache-dependency-glob: "uv.lock"
      - name: Install dependencies
        run: |
          uv sync --group ci_test

      - name: Download and unpack the database
        run: |
          uv run gdown https://drive.google.com/uc?id=1ZLkYVueEgg2E3Y50KUuBEg_f5YpFejnw
          bzip2 -dk dashboard.db.bz2
          ls

      - name: Build the dashboard
        run: |
          uv run traceback-with-variables napari_dashboard.webpage_update --no-fetch

      - name: Upload webpage
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: napari-dashboard-webpage
          path: webpage
