name: Test on PR
on:
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  generate_report:
    runs-on: ubuntu-latest
    timeout-minutes: 20
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Set up Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: 3.11
      - name: Install uv
        uses: astral-sh/setup-uv@681c641aba71e4a1c380be3ab5e12ad51f415867 # v7.1.6
        with:
          enable-cache: true
          cache-dependency-glob: "uv.lock"

      - name: Install dependencies
        run: |
          uv sync --group ci_test

      - name: Download and unpack the database
        run: |
          uv run gdown https://drive.google.com/uc?id=1ZLkYVueEgg2E3Y50KUuBEg_f5YpFejnw
          bzip2 -dk dashboard.db.bz2

      - name: Generate weekly summary
        run: |
          uv run traceback-with-variables napari_dashboard.get_weekly_summary --no-fetch

  generate_webpage:
    runs-on: ubuntu-latest
    timeout-minutes: 20
    permissions:
      contents: 'write'
      id-token: 'write'
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Set up Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: 3.12
      - name: Install uv
        uses: astral-sh/setup-uv@681c641aba71e4a1c380be3ab5e12ad51f415867 # v7.1.6
        with:
          enable-cache: true
          cache-dependency-glob: "uv.lock"
      - name: Install dependencies
        run: |
          uv sync --group ci_test

      - name: Download and unpack the database
        run: |
          uv run gdown https://drive.google.com/uc?id=1ZLkYVueEgg2E3Y50KUuBEg_f5YpFejnw
          bzip2 -dk dashboard.db.bz2
          ls

      - name: Build the dashboard
        run: |
          uv run traceback-with-variables napari_dashboard.webpage_update --no-fetch

      - name: Upload webpage
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: napari-dashboard-webpage
          path: webpage
